

.right_chat{
    background-color: #c4c4c4;
    position: absolute;
    right: 0px;
    width: 75%;
}

.right_chat_head{
    background-color: #8d7966;
    height: 10%; 
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    padding-top: 3%;
    border: solid 1px  #8d7966;
}

.suggestion{
    background-color: #c4c4c4;
    height: 10%; 
    text-align: center;
    color: black;
    padding-top: 3%;
    font-size: 18px;

}

.right_space{
    background-color: #dcddde;
    height: 70%; 
}

.text_chat{
    background-color: #8d7966 ;
    height: 10%;
}