@font-face {
    font-family: prompt;;
    src: url(Prompt_Thin.ttf);
  }

.bodyblah {
    background-color: #F5F8FA;
    height: 600px;
}

.middle {
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    position: relative;
    height: 500px;
}

#header {
    background-color:rgb(97,178,146,0.25);
    padding: 20px;
    padding-right: 5%;
    margin-right: 200px;
    border-top: 50px solid #ffffff;
    font-size: 12px;
}

.text {
    margin-left: 20px;
    line-height: 20px;
}