@font-face {
    font-family: prompt;;
    src: url(Prompt_Thin.ttf);
  }

.bodyblah {
    width: 1540px;
    margin-left: 0px;
    border-left: 200px solid #F5F8FA;
    border-right: 200px solid #F5F8FA;
    background-color: white;
    height: 660px;
}

#header {
    background-color:rgb(97,178,146,0.25);
    padding: 30px;
    padding-right: 220px;
    margin-right: 200px;
    border-top: 50px solid #ffffff;
    /*padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    padding-right: 250px;*/
    font-size: 20px;
}

.text {
    margin-left: 30px;
    line-height: 30px;
    font-size: 15px;
    height: 50px;
}
