.bodyPetpro{
  font-family: prompt;
  src: url(Prompt_Thin.ttf);
}
.carousel{
    display: 'inline-block';
    text-align: center;
  }

.informationn {
    font-size: 20px;
    display: 'inline-block';
    text-align: center;
    margin-top: 42px;
  }

.HeaderPetpro {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
  font-size: 36px;
  display: 'inline-block';
  text-align: center;
  padding-bottom: 30px;
}

#petStatusPro {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-right: 50px;
}

#petStatusPro2 {
  color: #61B292;
  font-size: 20px;
}

.toppppp {
  display: flex;
  flex-direction: row;
}

#lineHeader {
  border-top: 5px solid #C4C4C4;
  margin-top: 32px;
  width: 250px;
}

#lineHeader2 {
  border-top: 5px solid #C4C4C4;
  margin-top: 32px;
  width: 500px;
}

#infoText {
  display: flex;
  flex-direction:row;
  font-size: 14px;
}

#oyay {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#TextDescriptNotSign {
  font-size: 14px;
  margin-bottom: 32px;
  margin-right: 400px;
  margin-top: 32px;
}

#ColumnPro {
  display: flex;
  flex-direction:column;
  justify-content: center;
  /*margin-right: 280px;*/
  max-width: 35%;
}

#testagain {
  display: flex;
  flex-direction:column;
  margin-right: 20%;
}

#petBobo1 {
  max-width: 500px;
}

#fuckjk {
  display: flex;
  justify-content: center;
}

#maphuhu {
  margin-top: 16px;
}

#PostbyTextNotSign{
  display:flex;
  justify-content: flex-start;
}

.nametag{
  order:1;
}

.PostUserPicNotSign {
  margin-bottom: 16px;
}

.postInfoNotSign {
  display: flex;
  flex-direction: column;
}

#postProfileButt{
  margin-top: 5px;
  color: #61b292;
  font-size: 14px;
  text-decoration: underline;
}

#postProfile{
  display: none;
}

#cancelYay{
  display: none;
}

#postProfile:checked ~ .centerPet{
  opacity: 1;
  visibility: visible;
}

.centerPet{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  visibility: hidden;
  width: 438px;
  height: 260px;
  background: #ffffff;
  border-radius: 3px;
  transition: .3s ease-in;
  box-shadow: 0 2px 12px rgba(0,0,0,.4);
  padding-top: 2%;
}

#alertSign {
  margin-left: 176px;
  margin-top: 24px;
  
}

#pleaseSignIn{
  font-size: 20px;
  margin-left: 150px;
  margin-top: 8px;
}

#confirmYay-btn{
  display: inline-block;
  width: 89px;
  padding: 15px;
  font-size: 14px;
  margin-top: 12px;
  margin-left: 114px;
  margin-right: 32px;
  background-color: #61b292;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
}

#cancelYay-btn{
  display: inline-block;
  width: 89px;
  padding: 15px;
  font-size: 14px;
  background-color: #C4C4C4;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
}


#PostContactNotSign {
  font-size: 16px;
  margin-left: 16px;
}

.postInfoNotSign2 {
  display: flex;
  flex-direction: row;
}


#mailIcon1 {
  margin-right: 3px;
}

.button_contactPet {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 10px;
  width: 72px;
  height: 24px;
  margin-left: 12px;
  background: #8D7966;
  border-radius: 4px;
}

#conNot {
  width: 500px;
}

.NameNot {
  display: flex;
  flex-direction: column;
}

.postInfoNot {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postInfo2Not {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#PostUserNot {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
  height: 22px;
}