.Modalbody{
    text-align:center;
}

#cerPopUp {
    align-items: center;
    width: 440px;
    height: 485px;
}

#certButt {
    display: flex;
    align-self: center;
}

.Certbutton{
    background-color: #61B292;
    color: white;
    border-radius: 45px;
    width: 89px;
    height: 38px;
}

#doCer {
    margin-top: 8px;
    font-size: 12px;
    color: #61B292;
    background-color: white;
    border: solid;
    border-radius: 8px;
    border-color: #9D9D9D;
    border-width: 1px;
}