@font-face {
    font-family: prompt;;
    src: url(Prompt_Thin.ttf);
}

.bodyblahblah {
    max-width: 100%;
}

#head_dog {
    width: 100%;
}

.card {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
    margin-top: 32px;
    margin-left: 1px;
    background: #F5F8FA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 180px;
    width: 180px;
}

.cardBody {
    height: 35px;
    /*background: #F5F8FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

label {
    font-size: 10px;
}

input {
    margin: .4rem;
}

p {
    font-size: 12px;
    padding-left: 8px;
    padding-top: 10px;
    margin-bottom: 8px;
}

middle{
    margin-right: 2%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    /*-content: space-between;*/
    /*align-items: flex-end;*/
}


.filter2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 30%;
    background-color: #c4c4c4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.underfilter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 100%;
    height: 720px;
    background-color: #e7e2e2;

}

.urgh {
    display: flex;
    flex-direction: row;
}

.button2 {
    background-color: white;
    width: 100%;
    height: 80px;
    border-color: transparent;
    white-space: normal;
    text-align: left;
}