.bodyPetpro{
  font-family: prompt;
  src: url(Prompt_Thin.ttf);
}
.carousel{
    display: 'inline-block';
    text-align: center;
  }

.informationn {
    font-size: 20px;
    display: 'inline-block';
    text-align: center;
    margin-top: 42px;
  }

.HeaderPetpro {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
  font-size: 36px;
  display: 'inline-block';
  text-align: center;
  padding-bottom: 30px;
}

#sideHehe {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 50px;
  align-items: flex-end;
}

#petCodeDon {
  font-size: 16px;
}

#petStatusPro {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-right: 50px;
}

#petStatusPro2 {
  color: #61B292;
  font-size: 20px;
}

.toppppp {
  display: flex;
  flex-direction: row;
}

#lineHeader {
  border-top: 5px solid #C4C4C4;
  margin-top: 32px;
  width: 250px;
}

#lineHeader2 {
  border-top: 5px solid #C4C4C4;
  margin-top: 32px;
  width: 500px;
}

.infoText {
  display: flex;
  flex-direction:row;
  font-size: 16px;
}

#oyay {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#TextDescrip {
  font-size: 16px;
  margin-bottom: 32px;
  margin-right: 400px;
  margin-top: 32px;
}

.ColumnPro5 {
  display: flex;
  flex-direction:column;
  margin-right: 280px;
  margin-left: 12%;
}

#testagain9 {
  display: flex;
  flex-direction:column;
  margin-right: 20%;
}

#maphuhu {
  margin-top: 16px;
}

.nametag{
  order:1;
}

#editPetLuv {
  text-decoration: underline;
  margin-top: 15px;
  margin-left: 35px;
}

.ColumnSideO {
  margin-left: 50px;
  margin-right: 32px;
}

#hehehuhu {
  display: flex;
  flex-direction: row;
  
}

.status {
  padding-top: 20px;
  font-size: 10px;
}

.status-text {
  color: #61b292;
  font-size: 15px;
  font-weight: 500;
  display: inline;
}

.status-text2 {
  color: #F2C94C;
  font-size: 15px;
  font-weight: 500;
  display: inline;
}

.status-text3 {
  color: #E84242;
  font-size: 15px;
  font-weight: 500;
  display: inline;
}

.status-text3 {
  color: #E84242;
  font-size: 15px;
  font-weight: 500;
  display: inline;
}

.status-text3-1 {
  color: #9D9D9D;
  font-size: 15px;
  font-weight: 500;
  display: inline;
  margin-left: 1%;
}

#click{
  display: none;
}

.click-me{
  width: 100px;
  height: 30px;
  background: #ffffff;
  color: #61b292;
  display: inline-block;
  text-align: center;
  border: 1px solid #C4C4C4;
  margin: 6px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding-top: 10px;
  opacity: 1;
  visibility: visible;
}

#click2{
  display: none;
}

#click3{
  display: none;
}

.click-me3{
  width: 100px;
  height: 30px;
  background: #ffffff;
  color: #F2C94C;
  display: inline-block;
  text-align: center;
  border: 1px solid #C4C4C4;
  margin: 6px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding-top: 10px;
  opacity: 0;
  visibility: hidden;
}


.statusz{
  display: inline;
  opacity: 1;
  visibility: visible;
}

.statuszz{
  display: inline;
  opacity: 0;
  visibility: hidden;
}

.statuszzz{
  display: inline;
  opacity: 0;
  visibility: hidden;
}

#click:checked ~ .statuszz{
  opacity: 1;
  visibility: visible;
}

#click:checked ~ .click-me3{
  opacity: 1;
  visibility: visible;
}

#click3:checked ~ .statuszzz{
  opacity: 1;
  visibility: visible;
}

#click3:checked ~ .click-me3{
  opacity: 0;
  visibility: hidden;
}

.btnx {
  padding-top: 4%;
}

#hoho {
  display: flex;
  flex-direction: column;
}