.Navbar{
    background-color: white;
    border-style: dashed;
    border: groove 0.5px white;
    font-family: prompt;
}
.Navbar_brown{
    background-color: #8d7966;
    border-style: dashed;
    border: groove 0.5px #8d7966;
    font-family: prompt;
}
#changeMode{
    background-color:#8d7966;
    font-size: 8px;
    width: max-content;
    height: min-content;
}
#changeMode_brown{
    background-color:white;
    font-size: 8px;
    width: max-content;
    height: min-content;
    color: #8d7966;
}
.navHead{
    color: #8d7966;
    font-size: 12px;
    padding-top: 0.5%;
    padding-left: 2%;
}
.navHead_brown{
    color: white;
    font-size: 12px;
    padding-top: 0.5%;
    padding-left: 2%;
}

.jjicon{
    height: 60px;
    padding: 0% 0% 0% 0%;
}

.manbox{
    height: 30px;
    width: 30px;
}
.icon{
    padding: 0% 1% 0% 1%;
    display: flex;

}

.dropmenu{
    height: 160%;
}

.left{
    margin-right: 10px;
}

#chat{
    margin-left: 1.5%;
    margin-right: 0.5%;
}
#alert{
    margin-left: 0.5%;
}
.register{
    color: #8d7966;
    font-size: 12px;
}

.blank_box{
    width: 1%;
}

#noti1 {
    font-size: 16px;
    color: #B19D85;
}

#noti2 {
    font-size: 16px;
    color: #B19D85;
    width: 60px;
    text-decoration: underline;
}

.notiPop {
    display: flex;
    flex-direction: column;
}

/*.textLink {
    width: 30%;
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
}
*/
