.carousel img {
  min-width: 400px;
  height: 400px;
  max-width:80%;
  display:inline-flex;
}

.carousel-indicators .active {
      background: rgb(255,255,255);
      border-color:black;
      border-width: 1px;
    }
/*.right.carousel-control, .left.carousel-control {*/



    