  body {
    font-size: 0.5rem;
    font-family: prompt, serif;
    line-height: 100%;
  }
  
  div {
    height: 100%;
  }

  #logo{
    background: url(./JJicon_name.png) no-repeat center center;
    max-height: 100%;
  }

  .left-half {
    background-color: white;
    position: absolute;
    left: 0;
    width: 40%;
  }

  .right-half {
    background-color: #61b292;
    position: absolute;
    right: 0;
    width: 60%;
    max-height: 100%;
  }

  .right-white-bg{
    width: 80%;
    height: 80%;
    background-color: white;
    margin: 5% 5% 0 10%;
    border-radius: 80px;
  }

  .head{
    text-align: left;
    position: static;
  }

  .box{
    height: 100%;
    text-align: center;
    padding: 10% 0;
    position: relative;
    max-width: 100%;
    top: 20%;
  }
  .box2{
    height: 100%;
    padding: 10% 0;
    position: relative;
    top:10%;
    max-width: 100%;
  }
  .container{
    width: fit-content;
  }

  #button_signin{
    display: flex;
    text-align: center;
    background-color: #61b292;
    border: #61b292;
    margin: auto;
    border-radius: 45px;
  }

  #button_signin1{
    color: gray;
    background-color: white;
    border: solid gray 0.5px;
    display: flex;
    text-align: center;
    margin: auto;
  }

  #yesihavent {
    justify-content: center;
    flex-wrap: wrap;
    line-height: normal;
    font-size: 12px;
  }

  .textbox{
    display: grid;
  }

  .botton_signin{
    color: black;
  }
  #head_box{
    text-align: left;
    font-size: 16px;
  }

  #center{
    text-align: center;
  }

  .last_box{
    margin-top: 10%;
    text-align: center;
    color: red;
  }

  #username {
    width:100%;
    padding: 10px;
    border: 0px;
    background-color: #F5F8FA;
  }

  #password {
    width: 100%;
    padding: 10px;
    border: 0px;
    background-color: #F5F8FA;
  }


  
