  body {
    font-size: 0.5rem;
    font-family: prompt, serif;
    line-height: 100%;
  }
  
  div {
    height: 100%;
  }

  #logo{
    background: url(./JJicon_name.png) no-repeat center center;
  }

  .left-half {
    background-color: white;
    position: absolute;
    left: 0;
    width: 40%;
  }

  .right-half {
    background-color: #61b292;
    position: absolute;
    right: 0;
    width: 60%;
  }

  .right-white-bg{
    width: 80%;
    height: 80%;
    background-color: white;
    margin: 5% 5% 0 10%;
  }

  .head{
    text-align: left;
    position: static;
  }

  .box{
    height: 100%;
    text-align: center;
    padding: 10% 0;
    position: relative;
    top:20%;
    max-width: 100%;
  }
  .box2{
    height: 100%;
    padding: 10% 0;
    position: relative;
    top:10%;
    max-width: 100%;
  }
  .container{
    width: fit-content;
  }
  .button_signin{
    background-color: #61b292;
    border: #61b292;
    display: flex;
    text-align: center;
    margin: auto;
  }

  #yesihavent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: normal;
  }

  .textbox{
    display: grid;
  }

  .botton_signin{
    color: black;
  }
  #head_box{
    text-align: left;
    font-size: 12px;
  }
  #center{
    text-align: center;
  }

  .last_box{
    margin-top: 10%;
    text-align: center;
    color: red;
  }

  #username {
    width:100%;
    padding: 10px;
  }

  #password {
    width: 100%;
    padding: 10px;
  }

  
