  body {
    font-size: 0.5rem;
    font-family: prompt;
    line-height: 100%;
  }
  
  div {
    height: 100%;
  }

  #logo{
    background: url(./JJicon_name.png) no-repeat center center;
  }

  .left-half {
    background-color: white;
    position: absolute;
    left: 0px;
    width: 40%;
  }

  .right-half {
    background-color: #61b292;
    position: absolute;
    right: 0px;
    width: 60%;
  }

  .right-white-bg{
    width: 80%;
    height: 80%;
    background-color: white;
    margin: 5% 5% 0% 10%;
  }

  .head{
    text-align: left;
    position: static;
  }

  .box{
    height: 100%;
    text-align: center;
    padding: 10% 0%;
    position: relative;
  }
  .container{
    width: fit-content;
  }
  .button_signin{
    background-color: #61b292;
    border: #61b292;
  }

  .textbox{
    display: grid;
  }

  .botton_signin{
    color: black;
  }
  #head_box{
    text-align: left;
  }
