
.body1 {
    max-width: 100%;
    background-color: white;
    height: 100%;
    width: 80%;
    line-height: normal;
}

.imageCSS {
    margin-top: 0.5cm;
    margin-left: 2.5cm;
    width: 80%;
    max-width: 100%;
    text-align: center;
}

.headText{
    background-color: #968474;
    color: #F5F8FA;

    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-top: 25px solid #ffffff;
    font-size: 20px;
    max-width: 100%;
}

.text-article {
    margin-top: 0.5cm;
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    font-size: 14px;
    max-width: 100%;
}