.form{
    background-color: black;
}

.button_next{
    background-color: #61b292;
    float: right;
}

.btnxxx{
    display: flex;
    flex-direction: row;
}

#button_next{
    background-color: #61b292;
    text-align: center;
    margin-left: 35%;
    margin: auto;
    margin-left: 36%;
}


.box_img{
    text-align: center;
}
#box{
    font-size: 14px;
}

.container{
    width: max-content;
    height: min-content;
    font-size: 12px;
}

.informationh {
    font-size: 13px;
    letter-spacing: 0.271486px;
    display: flex;
    flex-direction: column;
}


input::placeholder{
    font-size: 6px;
}

#Date{
    font-size: 6px;
}

.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.line span {
    background: #fff;
    padding: 0 10px;
}
#bottom_bar{
    bottom:0;
    height:50px;
    width:100%;
}
.back_page{
    float: left;
    padding-left: 20px;
}
.textbox{
    display: grid;
}

.textgender{
    font-size: 12px;
    padding-top: 5%;
}

.mobile{
  width: 75%;
  height: 75%;
}
label{
    font-size: 12px;
}

.bigbox{
    margin-top: 7%;

}
.otp{
    display: inline;
}
.input_otp{
    margin: auto;
    float: left;
}
#submit{
    float: left;
    margin-left: 2%;
    background-color: #61b292;
    display: flex;
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text_right{
    margin-top: 20%;
}


.box_text{
    text-align: center;
}

.inp_text{
    border: none;
    border: 1px solid #C4C4C4;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
}

.inp_text1{
    border: none;
    border: 1px solid #C4C4C4;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.form-control {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    padding-left: 0px;
}

.col-lg-6{
    border: none;
    border: 1px solid #C4C4C4;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.text1{
    font-size: 24px;
    padding-top: 6%;
    padding-bottom: 4%;
}
.text2{
    font-size: 16px;
}
.text3{
    font-size: 12px;
    padding-top: 4%;
    padding-bottom: 3%;
}
#text3{
    font-size: 12px;
}

.yes{
    width: 80%;
    height: 80%;
}
.box_white{
    padding: 10%;
}