.form{
    background-color: black;
}

.button_next{
    background-color: #d8dad9;
    float: right;
    font-size: 16px;
}

.btnxxx{
    display: flex;
    flex-direction: row;
}

.ErrorFont{
    font-size: 12px;
    color: #C4C4C4;
    padding-top: 2px;
}

.pageset{
    display: flex;
    flex-direction: row;
}

#button_next{
    background-color: #61b292;
    text-align: center;
    /*margin-left: 35%;*/
    margin: auto;
    /*margin-left: 36%;*/
    display: flex;
    align-self: center;
    border-radius: 45px;
    border-color: transparent;
}

.box_img{
    text-align: center;
}

#box{
    font-size: 14px;
    background-color: #F5F8FA;
    border: 0px;
}

.container{
    width: max-content;
    height: min-content;
    font-size: 12px;
}

.informationh {
    font-size: 14px;
    letter-spacing: 0.271486px;
    display: flex;
    flex-direction: column;
}

#Date{
    font-size: 6px;
}

.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.line span {
    background: #fff;
    padding: 0 10px;
}
#bottom_bar{
    bottom:0;
    height:50px;
    width:100%;
}
.back_page{
    float: left;
    padding-left: 20px;
}
.textbox{
    display: grid;
}

.textgender{
    font-size: 12px;
}

#gender{
    width: 20px;
}

.mobile{
  width: 30%;
  height: 30%;
}

label{
    font-size: 12px;
}

.bigbox{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input_otp{
    margin: auto;
    float: left;
    /*width: 100%;*/
}

#submit{
    font-size: 16px;
    float: left;
    margin-left: 10px;
    margin-top: 4px;
    background-color: #61b292;
    display: flex;
    text-align: center;
    border-radius: 45px;
    border-color: transparent;
    
}

.left{
    display: flex;
    justify-content: center;
}


.rightOTP{
    display: flex;
    align-items: center;
    justify-content: start;
}

.box_text{
    text-align: center;
}

.inp_text{
    border: none;
    background-color: #F5F8FA;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.inp_text::placeholder{
    padding-left: 5px;
    font-size: 12px;
}

.inp_text1{
    border: none;
    background-color: #F5F8FA;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.inp_text1::placeholder{
    padding-left: 5px;
    font-size: 20px;
}

#nanii {
    display: flex;
    flex-direction: row;
}

.form-control {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}

.col-lg-6{
    border: none;
    background-color: #F5F8FA;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.rounded-lg {
    padding: 16px;
}

.text1{
    font-size: 24px;
    padding-top: 6%;
    padding-bottom: 4%;
}

.text2{
    line-height: normal;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.text3{
    font-size: 14px;
    padding-top: 4%;
    padding-bottom: 3%;
}
#text3{
    font-size: 12px;
}

.yes{
    width: 80%;
    height: 80%;
}

.box_white{
    padding: 10%;
}

#email {
    width: 100%;
}

#Name {
    width: 100%;
}

#Surname {
    width: 100%;
}

#phone {
    width: 100%;
}

#Date {
    width: 100%;
}

.custom-control{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#Address {
    width: 100%;
}
